In [4]:
# 데이터프레임 행, 열 선택 및 필터링 학습
import os
import pandas as pd

In [6]:
os.listdir('./drive/MyDrive/machine_learning_data')

['test.csv',
 'train.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 'new_friend.csv',
 'PandasTest.ipynb']

In [8]:
base_src = "./drive/MyDrive/machine_learning_data"
friend_src = base_src + "/friend.csv"
df = pd.read_csv(friend_src)
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [11]:
# index 2번에 해당하는 row 가져오기
  df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [15]:
#column job에 해당되는 데이터 가져오기
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [14]:
#column job에 해당되는 데이터 가져오기(2)
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [16]:
# 슬라이싱 기능을 통해 여러 행 가져오기
df.iloc[[2,3]] #슬라이싱 개념을 쓰지 않음

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [17]:
df.iloc[2:4]  #1~100의 경우 일일이 쓸수없어서 슬라이싱 사용

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [18]:
df.iloc[:4] #3까지 가져와준다 0~3

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [23]:
#조건 필터링 가져오기
# 30대 이상만 가져오기
df[df['age'] >= 30]
df[[True,True,True,True,False,True]] #이렇게 처리되는것과 같은 원리다.(False인것은 안보임)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
5  Chris   25     intern

In [25]:
##job이 intern인 사람 가져오기
df[df['job'] == 'intern']

    name  age     job
5  Chris   25  intern

In [27]:
## 조건이 여러개
## 30대 이상 40대 이하 (and Function)
df[(df['age'] >= 30) & (df['age'] <= 40)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [28]:
## 조건 여러개 30대 미만 혹은 40대 초과 (or function)
df[(df['age'] < 30) | (df['age']>40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [33]:
#in을 통한 포함 조건 걸기
#df[df['student','manager'] in df['job']]  <- 안됨
df[df['job'].apply(lambda x : x in ['student', 'manager'])] # x는 하나 검색하겠다는 뜻

    name  age      job
0   John   20  student
4  Brian   45  manager

In [37]:
#DataFrame 행, 열 삭제
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A','B','C','D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [40]:
# B, C 컬럼을 삭제하고 싶습니다.
df.drop(["B","C"], axis=1, inplace=True)    #inplace를 넣으면 df에 적용 안넣으면 df에 적용되지 않는다.

In [41]:
df

   A   D
0  0   3
1  4   7
2  8  11

In [42]:
#index 0과 1을 삭제
df.drop([0,1]) #Axis를 안넣은 이유는 Axis는 0이 디폴트이기떄문 0을 넣으면 row방향(가로)로 삭제 1은 세로

   A   D
2  8  11

In [44]:
#DataFrame 행,열 수정
df = pd.read_csv(friend_src, encoding='UTF-8')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [45]:
#df를 하나 복사하겠습니다. ( 원본 유지를 위해)
temp = df.copy()
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [46]:
#age 컬럼 모든 값을 변경
temp['age'] = 20  # [20,20,20,20,20,20] 이렇게 넣어도 된다.
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [47]:
temp.loc[2, 'age'] = 27

In [48]:
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   27    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern